/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@media (min-width: 992px) {
	#content {
		width: 100%;
		float: unset;
		margin-top: 0px;
	}
}

@media (min-width: 1200px) {
	#content {
		width: 72%;
		float: unset;
		margin-top: 0px;
	}
}

.right-side {
	flex: 1;
}

#copyrights {
	padding: 30px 0;
}